# Бинарники
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарники
*.test
*.out

# Папка vendor (зависимости скачиваются через go mod)
vendor/

# IDE файлы (если используешь GoLand или VSCode)
.idea/
.vscode/
*.swp
*.swo
*~

# Файлы окружения (если будут секреты)
.env